
table{
    border: 1px solid;
    margin: 10px;
    padding: 10px;
}

h3{
    margin: 10px;
}

form{
    padding: 5px;
    margin-left: 5px;
}

.document-id{
    text-decoration: underline;
}

#src-logo{
    height: 20px;
    width: 20px;
    padding: 1px;
}

#home-logo{
    height: 40px;
    width: 40px;
}

#pdf-link{
    color: white;
}